In [1]:
import pandas as pd


filename = "siniestros2022.csv"
# Load the dataset
df = pd.read_csv(filename)

# from dataprep.eda import create_report

# # Generate the profile report
# report = create_report(df)
# report.show_browser()

In [2]:
# Clean data
df.head()

# Remove the first space from the column names
df.columns = df.columns.str.strip()

# Set Edad, Hora as integer
df["Edad"] = pd.to_numeric(df["Edad"], errors='coerce')
df["Hora"] = pd.to_numeric(df["Hora"], errors='coerce')

# Change column DI�a de la semana with DIA, Cintur�n with Cinturon, Ca�da con Caida, Ordo�ez with Ordonez
df.rename(columns={df.columns[9]: "Dia"}, inplace=True)
df.rename(columns={df.columns[7]: "Cinturon"}, inplace=True)
# df.rename(columns=(df.columns[6]: "Caida"), inplace=True)
# df.rename(columns=(df.columns[3]:"Ordonez"), inplace=True)
# df.rename(columns=(df.columns[3]:"Espana"), inplace=True)
# df.rename(columns=(df.columns[3]:"Coruna"), inplace=True)

# Change SI�BADO with SABADO
df["Dia"] = df["Dia"].replace("SI�BADO", "SABADO")
df["Tipo de siniestro"] = df["Dia"].replace("CA�DA", "CAIDA")


df.head()

# Set Edad column as an integer
# df["Edad"].head()

,Fecha,Edad,Rol,Calle,Zona,Tipo de resultado,Tipo de siniestro,Cinturon,Usa casco,Dia,Sexo,Hora,Departamento,Localidad,Novedad,Tipo de Vehiculo,fixed,X,Y
0,01/01/2022,37.0,PASAJERO,CAMINO CARMELO COLMAN,URBANA,HERIDO LEVE,SI�BADO,SIN DATOS,SIN DATOS,SI�BADO,MASCULINO,8,MONTEVIDEO,MONTEVIDEO,14067171,AUTO,1,572280,6148440
1,01/01/2022,45.0,CONDUCTOR,CAMINO CARMELO COLMAN,URBANA,HERIDO LEVE,SI�BADO,SIN DATOS,SIN DATOS,SI�BADO,MASCULINO,8,MONTEVIDEO,MONTEVIDEO,14067171,AUTO,1,572280,6148440
2,01/01/2022,69.0,CONDUCTOR,BOULEVARD JOSE BATLLE Y ORDO�EZ,URBANA,HERIDO LEVE,SI�BADO,SIN DATOS,USA CASCO,SI�BADO,MASCULINO,16,MONTEVIDEO,MONTEVIDEO,14068548,MOTO,1,571120,6145960
3,01/01/2022,31.0,CONDUCTOR,SIN DATOS,URBANA,HERIDO LEVE,SI�BADO,SIN DATOS,SIN DATOS,SI�BADO,MASCULINO,23,MONTEVIDEO,SIN DATOS,14069875,AUTO,1,581650,6149845
4,01/01/2022,19.0,CONDUCTOR,JOANICO,URBANA,HERIDO LEVE,SI�BADO,SIN DATOS,NO USA CASCO,SI�BADO,MASCULINO,5,MONTEVIDEO,MONTEVIDEO,14066691,MOTO,1,577450,6139860