In [59]:
import pandas as pd
import numpy as np


filename = "siniestros2022.csv"
# Load the dataset
df = pd.read_csv(filename)

# from dataprep.eda import create_report

# # Generate the profile report
# report = create_report(df)
# report.show_browser()
df.head()

,Fecha,Edad,Rol,Calle,Zona,Tipo de resultado,Tipo de siniestro,Usa cinturI�n,Usa casco,DI�a de la semana,Sexo,Hora,Departamento,Localidad,Novedad,Tipo de Vehiculo,fixed,X,Y
0,01/01/2022,37,PASAJERO,CAMINO CARMELO COLMAN,URBANA,HERIDO LEVE,COLISION ENTRE VEHI�CULOS,SIN DATOS,SIN DATOS,SI�BADO,MASCULINO,8,MONTEVIDEO,MONTEVIDEO,14067171,AUTO,1,572280,6148440
1,01/01/2022,45,CONDUCTOR,CAMINO CARMELO COLMAN,URBANA,HERIDO LEVE,COLISION ENTRE VEHI�CULOS,SIN DATOS,SIN DATOS,SI�BADO,MASCULINO,8,MONTEVIDEO,MONTEVIDEO,14067171,AUTO,1,572280,6148440
2,01/01/2022,69,CONDUCTOR,BOULEVARD JOSE BATLLE Y ORDO�EZ,URBANA,HERIDO LEVE,CAI�DA,SIN DATOS,USA CASCO,SI�BADO,MASCULINO,16,MONTEVIDEO,MONTEVIDEO,14068548,MOTO,1,571120,6145960
3,01/01/2022,31,CONDUCTOR,SIN DATOS,URBANA,HERIDO LEVE,COLISION ENTRE VEHI�CULOS,SIN DATOS,SIN DATOS,SI�BADO,MASCULINO,23,MONTEVIDEO,SIN DATOS,14069875,AUTO,1,581650,6149845
4,01/01/2022,19,CONDUCTOR,JOANICO,URBANA,HERIDO LEVE,COLISION ENTRE VEHI�CULOS,SIN DATOS,NO USA CASCO,SI�BADO,MASCULINO,5,MONTEVIDEO,MONTEVIDEO,14066691,MOTO,1,577450,6139860

In [60]:
# Clean data
df.head()

# Remove the first space from the column names
df.columns = df.columns.str.strip()

# Set Edad, Hora as integer
df["Edad"] = pd.to_numeric(df["Edad"], errors='coerce')
df["Hora"] = pd.to_numeric(df["Hora"], errors='coerce')

# Change column DI�a de la semana with DIA, Cintur�n with Cinturon
df.rename(columns={df.columns[9]: "Dia"}, inplace=True)
df.rename(columns={df.columns[7]: "Usa Cinturon"}, inplace=True)


# Change SI�BADO with SABADO, VEHI�CULOS with VEHICULOS, CAI�DA with CAIDA, ORDO�EZ with ORDONEZ, ESPA�A with ESPANA, CORU�A with CORUNA
df["Dia"] = df["Dia"].str.replace("SI�BADO", "SABADO", regex=False)
df["Tipo de siniestro"] = df["Tipo de siniestro"].str.replace("CAI�DA", "CAIDA", regex=False)
df["Tipo de siniestro"] = df["Tipo de siniestro"].str.replace("VEHI�CULOS", "VEHICULOS", regex=False)
df["Tipo de siniestro"] = df["Tipo de siniestro"].str.replace("ORDO�EZ", "ORDONEZ", regex=False) #NO PUEDOOOO
df["Tipo de siniestro"] = df["Tipo de siniestro"].str.replace("ESPA�A", "ESPANA", regex=False)
df["Tipo de siniestro"] = df["Tipo de siniestro"].str.replace("CORU�A", "CORUNA", regex=False)

#Contar en Cinturon los valores de SIN DATOS, para ver si hay que borrar la columna

#Eliminar la columna de Departamento
df.drop(columns=["Departamento"], inplace=True)
df.drop(columns=["Localidad"], inplace=True)

#Cambiar todos los valores de la columna Vehiculo de "MOTOCICLETA" a "MOTO"
df["Tipo de Vehiculo"] = df["Tipo de Vehiculo"].str.replace("MOTOCICLETA", "MOTO", regex=False)

### Quiero cambiar USA CASCO por True, USA CINTURON por True, el resto False y juntarlo todo en una columna (esta funcionando mal)

In [61]:
#df['Usa Cinturon'] = df['Usa Cinturon'].replace({"USA CINTURON": True, 'NO USA CINTURON': False, 'SIN DATOS': False}).astype(bool)
#df['Usa casco'] = df['Usa casco'].replace({'USA CASCO': True, 'NO USA CASCO': False, 'SIN DATOS': False}).astype(bool)
df['Usa Cinturon'] = df['Usa Cinturon'].apply(lambda x: True if x == 'USA CINTURON' else False)
df['Usa casco'] = df['Usa casco'].apply(lambda y: True if y == 'USA CASCO' else False)

#NUEVA COLUMNA QUE JUNTA LAS DOS
#df['Usa proteccion'] = np.logical_or(df['Usa Cinturon'] | df['Usa casco'])

#BORRO COLUMNAS VIEJAS
#df.drop(columns=['Usa Cinturon', 'Usa casco'], inplace=True)

df.head()

,Fecha,Edad,Rol,Calle,Zona,Tipo de resultado,Tipo de siniestro,Usa Cinturon,Usa casco,Dia,Sexo,Hora,Novedad,Tipo de Vehiculo,fixed,X,Y
0,01/01/2022,37.0,PASAJERO,CAMINO CARMELO COLMAN,URBANA,HERIDO LEVE,COLISION ENTRE VEHICULOS,False,False,SABADO,MASCULINO,8,14067171,AUTO,1,572280,6148440
1,01/01/2022,45.0,CONDUCTOR,CAMINO CARMELO COLMAN,URBANA,HERIDO LEVE,COLISION ENTRE VEHICULOS,False,False,SABADO,MASCULINO,8,14067171,AUTO,1,572280,6148440
2,01/01/2022,69.0,CONDUCTOR,BOULEVARD JOSE BATLLE Y ORDO�EZ,URBANA,HERIDO LEVE,CAIDA,False,False,SABADO,MASCULINO,16,14068548,MOTO,1,571120,6145960
3,01/01/2022,31.0,CONDUCTOR,SIN DATOS,URBANA,HERIDO LEVE,COLISION ENTRE VEHICULOS,False,False,SABADO,MASCULINO,23,14069875,AUTO,1,581650,6149845
4,01/01/2022,19.0,CONDUCTOR,JOANICO,URBANA,HERIDO LEVE,COLISION ENTRE VEHICULOS,False,False,SABADO,MASCULINO,5,14066691,MOTO,1,577450,6139860